<% if friend_request.requestee_id==current_user.id %>
  <p><%= friend_request.requester.full_name %> <%= link_to "accept", "/friendship/#{friend_request.id}" %></p>
<% else %>
  <p><%= friend_request.requestee.full_name %> Pending...</p>
<% end %>
